<html class="app-container">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MigrationDB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <script type="text/javascript">
        initialState.locationParams = document.location.search;
    </script>
</head>
<body>
Hello World

</body>
</html>
